body {
  background-color: antiquewhite;
}

#main-background {
  background-color: beige;
}

#title-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#title-description h1 {
  font-family: "Merienda", cursive;
  text-align: center;
  color: darkgreen;
}

#title-description p {
  font-family: "Merienda", cursive;
  text-align: center;
  font-weight: bold;
}

#music-notes-displayed {
  width: 87%;
  margin: auto;
  border-radius: 4px;
  background-color: bisque;
  display: none;
}

#music-notes-displayed h2 {
  font-size: 1.3rem;
  font-weight: lighter;
  background: gainsboro;
}

#section-1 {
  border-radius: 4px;
  width: 45%;
  background-color: khaki;
  text-align: center;
 
}

#section-1 h3 {
  text-align: center;
  font-size: x-large;
}

#game-points {
  background-color: yellow;
  padding: 5% 0px;
  margin: 5% 20%;
}

#continue-button {
  background: darkred;
  cursor: pointer;
  border-radius: 4px;
  font-size: medium;
  font-weight: 700;
  line-height: 2;
  margin-top: 25px;
  color: antiquewhite;
  font-family: "Merienda", cursive;
}

#violin-neck {
  background-color: black;
  width: 85%;
  height: 8rem;
  display: flex;
  /* check it */
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
}

.string {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.string::before {
  content: "";
  width: 100%;
  height: 4px;
  background: linear-gradient(#eee, #999);
  /* centralize the string */
  position: absolute;
  top: 41%;
}

.nut {
  display: flex;
  border-right: 12px solid saddlebrown;
  padding-right: 5%;
  background-color: beige;
}

.note-buttons {
  width: auto;
  border-radius: 50%;
  width: 15%;
  margin: 0px 4px;
  background-color: darkolivegreen;
}

.violin-image {
  width: 100%;
}

.nut button {
  background-color: #999;
  width: 100%;
  padding-right: 20px;
  position: relative;
  width: 38px;
}

.finger-0 {
  border-radius: 0%;
  margin: 2px 0px;
}

.finger-none {
  background-color: #2d2d2d;
}

.finger-1,
.finger-2,
.finger-3 {
  position: relative;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  #main-background {
    width: 80%;
    margin: auto;
  }
  .note-buttons {
    width: 13%;
    margin-right: 9px;
  }
  body {
    display: flex;
    justify-content: center;
  }
  div {
    place-self: center;
  }
  #continue-button {
    line-height: 2;
    width: 35%;
  }
  .finger-0 {
    height: 1.75rem;
    width: 45px;
  }
}

@media screen and (min-width: 768px) {
  #main-background {
    width: 50%;
    margin: auto;
  }
  body {
    display: flex;
    height: 1032px;
    justify-content: center;
  }
  div {
    place-self: center;
  }
  #violin-neck {
    width: 75%;
    height: 9rem;
  }
  .finger-0 {
    height: 2rem;
    width: 45px;
  }
  #continue-button {
    line-height: 3;
    width: 30%;
  }
}
